<div class="page-content-container">
  <prb-layout-sub-menu />

  <div class="page-content">
    <p>
      Both Left and Right Side menu Layout displays the menus on the Left and right sides of the page.
      The Left menu is used like a submenu of the top menu-bar.
      The Right menu is used like a submenu of the Left menu.
      In this application (PRB Notes), I place the primary link at the top of the menu to show which top-menu item was
      selected to get to this page.
    </p>

    <div class="illustration">
      <div class="card">
        <card-container>
          <card-header>SCSS</card-header>
          <card-body>
            <css-both-side-menu-layout />
          </card-body>
        </card-container>
      </div>
      <div class="card">
        <card-container>
          <card-header>SCSS</card-header>
          <card-body>
            <css-header />
            <br />
            <css-menu-bar />
            <br />
            <css-left-menu />
            <br />
            <css-content />
            <br />
            <css-right-menu />
            <br />
            <css-footer />
          </card-body>
        </card-container>
      </div>
      <prb-layout-left-and-right-menu-content />
    </div>
  </div>

  <prb-sub-menu />
</div>
