<div class="page-content-container">
  <prb-layout-sub-menu />

  <div class="page-content">
    <p>
      Right Side menu Layout displays the links to dig deeper into the menu item selected on the left side.
    </p>

    <p>
      Left and Right Side menu Layout displays the menu on the Left and Right side of the page.
      The Left menu is used like a submenu of the top menu-bar.
      The Right menu is used like a submenu of the Left menu.
      In this application (PRB Notes), I place the primary link at the top of the menu to show which top-menu item was selected to get to this page.
    </p>

    <prb-layout-left-and-right-menu-content />
  </div>

  <prb-sub-menu />
</div>
