<div class="page-content-container">
  <prb-layout-sub-menu />

  <div class="page-content">
    <p>The grid layout has the header, menubar, content and footer.</p>

    <div class="illustration">
      <div class="card">
        <card-container>
          <card-header>SCSS</card-header>
          <card-body>
            <css-no-side-menu-layout />
            <br />
            <css-header />
            <br />
            <css-menu-bar />
            <br />
            <css-content />
            <br />
            <css-footer />
          </card-body>
        </card-container>
      </div>

      <prb-layout-content-only />
    </div>
  </div>

  <prb-sub-menu />
</div>
