@forward "color";
@forward "menu";
@forward "list";
@forward "header";
@forward "layout";
@forward "mixins";

:root {
  --header-height: 100px;
  --nav-bar-height: 45px;
  --footer-height: 32px;
  --content-height: calc(100vh - var(--header-height) - var(--nav-bar-height) - var(--footer-height));
  --left-side-panel-menu-width: 10em;
  --right-side-panel-menu-width: 11em;
}
