@mixin mix-page-base {
  letter-spacing: 0.05em;
  line-height: 1.5em;
  max-height: var(--content-height);
  overflow-y: auto;
}

@mixin mix-page-content {
  padding: 0.01em 1em;
  font-size: 12pt;
  @include mix-page-base;
}

//@mixin mix-left-menu {
//  .left-menu {
//    grid-area: left-menu-panel;
//    background-color: var(--color-menu-background);
//    height: var(--content-height);
//  }
//}
//
//@mixin mix-right-menu {
//  .right-menu {
//    grid-area: right-menu-panel;
//    background-color: var(--color-menu-background);
//    height: var(--content-height);
//  }
//}

@mixin mix-left-side-menu {
  display: grid;
  grid-template-areas:
    "left-menu-panel main-content-panel";
  grid-template-columns: var(--left-side-panel-menu-width) auto;
  @include mix-page-base;
  //@include mix-left-menu;
}

@mixin mix-left-and-right-side-menu {
  display: grid;
  grid-template-areas:
    "left-menu-panel main-content-panel right-menu-panel";
  grid-template-columns: var(--left-side-panel-menu-width) auto  var(--right-side-panel-menu-width);
  @include mix-page-base;
  //@include mix-left-menu;
  //@include mix-right-menu;

  .page-content {
    grid-area: main-content-panel;
    padding: 1em;
  }
}

@mixin mix-box-shadow {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
