<div class="page-content-container">
  <prb-layout-sub-menu />

  <div class="page-content">
    <p>
      Layout of the menu is accomplished by using a grid layout.
      The Grid layout can be changed at anytime based upon the needs of the page.
    </p>

    <p>
      The top menu is static and is always visible.
      The top menu in this application is horizontal and does not have any sub menus.
      It is a very simple menu.
    </p>

    <p>
      The Left side menu is the sub-menu of the top menu selection.
    </p>

    <p>
      The Right side menu is the sub-menu of the Left side menu selection.
    </p>

    <div class="layout-samples">
      <prb-layout-content-only />

      <prb-layout-left-menu-content />

      <prb-layout-left-and-right-menu-content />
    </div>
  </div>
</div>
