.indent-1 {
  margin-left: 1rem;
}

.indent-2 {
  margin-left: 2rem;
}

.indent-3 {
  margin-left: 3rem;
}

.indent-4 {
  margin-left: 4rem;
}

.indent-5 {
  margin-left: 5rem;
}

.indent-6 {
  margin-left: 6rem;
}

.indent-7 {
  margin-left: 7rem;
}

.indent-8 {
  margin-left: 8rem;
}

.indent-9 {
  margin-left: 9rem;
}
