<div class="page-content-container">
  <prb-layout-sub-menu />

  <div class="page-content">
    <p>
      Left Side menu Layout displays only the menu on the Left side of the page.
      This is used like a submenu of the top menu-bar.
      In this application (PRB Notes), I place the primary link at the top of the menu to show which top-menu item was
      selected to get to this page.
    </p>

    <div class="illustration">
      <div class="card-layout">
        <card-container>
          <card-header>SCSS</card-header>
          <card-body>
            <css-left-side-menu-layout />
          </card-body>
        </card-container>
      </div>
      <div class="card-base">
        <card-container>
          <card-header>SCSS</card-header>
          <card-body>
            <css-header />
            <br />
            <css-menu-bar />
            <br />
            <css-left-menu />
            <br />
            <css-content />
            <br />
            <css-footer />
          </card-body>
        </card-container>
      </div>
      <prb-layout-left-menu-content />
    </div>
  </div>

  <prb-sub-menu />
</div>
